<!DOCTYPE html>
<html lang="{{ __.site.language }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-language" content="{{ __.site.language }}" />
        <meta name="title" content="{{ __.site.title }}" />
        <meta name="keywords" content="{{ __.site.meta.keywords }}" />
        <meta name="abstract" content="{{ __.site.meta.abstract }}" />
        <meta name="description" content="{{ __.site.meta.description }}" />

        <title>{{ __.site.title }}</title>

        {{#if isMobile}}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{/if}}

        {{#css}}
            <link href="{{ this }}" rel="stylesheet" />
        {{/css}}

        <link rel="shortcut icon" href="images/layout/favicon.png">
    </head>

    <body>
        <header>
            <div class="logo">
                <img src="images/layout/logo_@1x.png" srcset="images/layout/logo_@1x.png 1x, images/layout/logo_@2x.png 2x" alt="StudioVictory"> <span class="logo-text">StudioVictory</span>
            </div>

            <nav>
                <ul>
                    <li><a href="#" title="Mongo">Mongo</a></li>
                    <li><a href="#" title="Express">Express</a></li>
                    <li><a href="#" title="Angular">Angular</a></li>
                    <li><a href="#" title="Node">Node</a></li>
                    <li><a href="#" title="JavaScript">JavaScript</a></li>
                    <li><a href="#" title="HTML5">HTML5</a></li>
                    <li><a href="#" title="CSS3">CSS3</a></li>
                    <li><a href="#" title="Sublime Text">Sublime Text</a></li>
                    <li><a href="#" title="Grunt">Grunt</a></li>
                    <li><a href="#" title="Vagrant">Vagrant</a></li>
                    <li><a href="#" title="Docker">Docker</a></li>
                </ul>
            </nav>

            <div class="nav-mobile-menu">
                <ul>
                    <li><a href="#" title="Code">Code</a></li>
                    <li><a href="#" title="Design">Design</a></li>
                    <li><a href="#" title="Databases">Databases</a></li>
                    <li><a href="#" title="Programming">Programming</a></li>
                    <li><a href="#" title="Frameworks">Frameworks</a></li>
                    <li><a href="#" title="All Categories">All Categories</a></li>
                    <li><a href="#" title="Forums">Forums</a></li>
                </ul>
            </div>

            <div class="nav-mobile no-display">
                <a href="#" class="pull"><i class="fa fa-sort-desc"></i></a>
            </div>
        </header>

        <div class="page-content-wrapper">
            <div class="columns">
                <div class="post">
                    <img src="images/articles/article1.jpg" />

                    <h2><a href="post.html" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed feugiat consectetur pellentesque. Nam ac elit risus,
                        ac blandit dui. Duis rutrum porta tortor ut convallis.
                        Duis rutrum porta tortor ut convallis.
                    </p>

                    <p class="details">
                        <span class="date">July, 3 2014</span>

                        <span class="social">
                            <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?t=POC&amp;u=http://www.codejobs.biz" target="_blank"><i class="fa fa-facebook"></i></a> &nbsp;

                            <a class="twitter" href="https://twitter.com/intent/tweet?original_referer=http://www.codejobs.biz&amp;text=EL+TEXTO+DEL+TWEET&amp;url=http://www.codejobs.biz&amp;via=codejobs"><i class="fa fa-twitter" target="_blank"></i></a> &nbsp;

                            <a class="linkedin" href="https://www.linkedin.com/shareArticle?summary=DESCRIPCION&amp;title=TEST&amp;mini=true&amp;url=http://www.codejobs.biz" target="_blank"><i class="fa fa-linkedin"></i></a> &nbsp;

                            <a class="google" href="https://www.linkedin.com/shareArticle?summary=DESCRIPCION&amp;title=EL+TITULO&amp;mini=true&amp;url=http://www.codejobs.biz" target="_blank"><i class="fa fa-google"></i></a> &nbsp;

                        </span>

                        <span class="category">
                            <a class="angular" href="#" title="Angular.js">Angular.js</a>
                        </span>
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article1.jpg" />

                    <h2>Suspendisse rutrum turpis quis nunc convallis quis aliquam mauris suscipit</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed feugiat consectetur pellentesque. Nam ac elit risus,
                        ac blandit dui. Duis rutrum porta tortor ut convallis.
                        Duis rutrum porta tortor ut convallis.
                    </p>
                </div>

                <div class="post">
                    <iframe src="//www.youtube.com/embed/8EdPMrdshGQ?list=UUWDzmLpJP-z4qopWVA4qfTQ" frameborder="0" allowfullscreen></iframe>

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Nullam eget lectus augue. Donec eu sem sit amet ligula
                        faucibus suscipit. Suspendisse rutrum turpis quis nunc
                        convallis quis aliquam mauris suscipit.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article2.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Nullam eget lectus augue. Donec eu sem sit amet ligula
                        faucibus suscipit. Suspendisse rutrum turpis quis nunc
                        convallis quis aliquam mauris suscipit.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article1.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Donec a fermentum nisi. Integer dolor est, commodo ut
                        sagittis vitae, egestas at augue.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article1.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed feugiat consectetur pellentesque. Nam ac elit risus,
                        ac blandit dui. Duis rutrum porta tortor ut convallis.
                        Duis rutrum porta tortor ut convallis.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article2.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Nullam eget lectus augue. Donec eu sem sit amet ligula
                        faucibus suscipit. Suspendisse rutrum turpis quis nunc
                        convallis quis aliquam mauris suscipit.
                        Duis rutrum porta tortor ut convallis.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article1.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Nullam eget lectus augue.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article1.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed feugiat consectetur pellentesque.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article2.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Donec a fermentum nisi. Integer dolor est, commodo ut
                        sagittis vitae, egestas at augue. Suspendisse id nulla
                        ac urna vestibulum mattis. Duis rutrum porta tortor ut convallis.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article1.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Donec a fermentum nisi. Integer dolor est, commodo ut
                        sagittis vitae, egestas at augue. Suspendisse id nulla
                        ac urna vestibulum mattis.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article2.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed feugiat consectetur pellentesque. Nam ac elit risus,
                        ac blandit dui. Duis rutrum porta tortor ut convallis.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article2.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Donec a fermentum nisi. Integer dolor est, commodo ut
                        sagittis vitae, egestas at augue. Suspendisse id nulla
                        ac urna vestibulum mattis.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article1.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Donec a fermentum nisi. Integer dolor est, commodo ut
                        sagittis vitae, egestas at augue. Suspendisse id nulla
                        ac urna vestibulum mattis.
                    </p>
                </div>

                <div class="post">
                    <img src="images/articles/article2.jpg" />

                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed feugiat consectetur pellentesque. Nam ac elit risus,
                        ac blandit dui. Duis rutrum porta tortor ut convallis.
                    </p>
                </div>
            </div>
        </div>

        <div class="pagination">
            <a href="#" class="page gradient">first</a>
            <a href="#" class="page gradient">2</a>
            <a href="#" class="page gradient">3</a>
            <span class="page active">4</span>
            <a href="#" class="page gradient">5</a>
            <a href="#" class="page gradient">6</a>
            <a href="#" class="page gradient">last</a>
        </div>


        <div class="scroll-to-top"></div>

        <div class="footer">
            <div class="clear"></div>
            <p>&copy; StudioVictory.com 2015</p>
        </div>
    </body>
</html>
